@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

:root {
    --topbar: #1e1f22;
    --background: #313338;
    --header: #252627;

    --text: #ffffff;
    --accent: #ffcc00;
    --success: #348200;
    --error: #ff4400;
    --action: #26a0da;
}

html {
    font-family: sans-serif;
    background: var(--background);
    color: var(--text);
}

body {
    margin: 0;
}

button,
input,
textarea,
select {
    background: var(--header);
    color: white;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
}

button:hover,
input:hover,
textarea:hover,
select:hover {
    box-shadow: 2px 2px 5px var(--background),
        -2px -2px 5px var(--header);
    transition: 200ms;
}

button {
    cursor: pointer;
}

input {
    width: 125px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 15px;
    height: 400px;
    resize: vertical;
}

a {
    color: var(--text);
    text-decoration: none;
}

.red {
    color: var(--error);
}

.blue {
    color: var(--action);
}

.green {
    color: var(--success);
}

.yellow {
    color: var(--accent);
}

.green_back {
    background: var(--success);
}

.red_back {
    background: var(--error);
}

#title {
    width: 100%;
    text-align: center;
}

#content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

#tabs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    height: 25px;
    padding: 10px;
    background: var(--topbar);
}

.tab {
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
}

.tab:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.tab.active {
    text-decoration: underline;
}

.section {
    border-radius: 15px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headers {
    border-radius: 5px;
    padding: 5px 10px;
    background: var(--header);
    border-left: var(--accent) 5px solid;
    font-size: 25px;
    font-family: "Oswald", "Poppins";
    letter-spacing: 5px;
}